@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Universal Styles */

html {
    font-size: 16px;
    font-family: 'Oswald';
    box-sizing: border-box;
    height: 100%;
}

body {
  height: 100%
}

/* Header */

header {
  background-color: white;
  padding: 2rem;
}

h1 {
  font-weight: 200;
  font-size: 4rem;
  color: black;
  text-align: center;
}

/* Navigation */

nav {   
  list-style-type: none;  
  background-color:black;   
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}  
nav ul {
  align-self: stretch;
  margin: 0;
}
nav ul li {  
  float: left;  
}  
nav ul li a {  
  display:block;  
  padding: 1rem 2rem;  
  color: white;  
  font-weight: 300;
  text-decoration:none;  
  font-size: 2.5rem;
}  
nav ul li a:hover {  
  background-color:#900;  
  display:block;  
  padding: 1rem 2rem;  
  color: white;  
  font-weight: 300;
  text-decoration:none;  
  font-size: 2.5rem;
}

/* Carousel Banner */

.carousel-caption h2 {
  font-size: 4rem;
}

.carousel-caption p {
  font-size: 2.5rem;
}

/* Main content (grid) */

.grid {
  display: grid;
  width: 1300px;
  grid-template: 150px 350px 150px 1px repeat(2, 515.6666666666px 150px) 515.6666666666px 100px / repeat(3, 1fr);
  margin: auto;
            
}
/* a. Sous-titre */
.sous-titre {  
  font-size: 3rem;
  grid-area: 1 / 1 / span 1 / span 3;
  text-align: center;
}

.sous-titre h3 {
  margin: 50px;
}

/* b. Portraits */

.img-boxJP {
  justify-self: center;
  grid-area: 2 / 1 / span 1 / span 1;
}

.img-boxFN {
  justify-self: center;
  grid-area: 2 / 2 / span 1 / span 1;
  
}

.img-boxCJ {
  justify-self: center;
  grid-area: 2 / 3 / span 1 / span 1;
}

.img-box p {
  text-align: center;
  font-size: 2rem;
}

/* c. Inter-section quotes */

.inter-section-quotes-container {
  width: 100%;
  text-align: center;
  align-self: center;
  color: black;
  font-size: 2rem;
  font-weight: 500;
}

#quote1 {
  grid-area: 3 / 1 / span 1 / span 3; 
}

#quote2 {
  grid-area: 6 / 1 / span 1 / span 3;
}

#quote3 {
  grid-area: 8 / 1 / span 1 / span 3;
}

/* d. Biographies */

.bio-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.bio-image-JP-container {
  grid-area: 5 / 1 / span 1 / span 1;
}

.bio-image-FN-container { 
  grid-area: 7 / 1 / span 1 / span 1;
}
.bio-image-CJ-container {
  grid-area: 9 / 1 / span 1 / span 1;
}

#JPbio-text-container {
  grid-area: 5 / 2 / span 1 / span 2;
}

#FNbio-text-container {
  grid-area: 7 / 2 / span 1 / span 2;
}

#CJbio-text-container {
  grid-area: 9 / 2 / span 1 / span 2;
}
.bio-text-container p {
  font-size: 1.2rem;
  line-height: 1.25;
  margin: 0px 0px 50px 50px;
  font-weight: 300;
}

/* Footer */

footer {   
  background-color:black;   
  width: 100%;
}  
footer ul {
  list-style: none; 
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul li {  
 
  display:inline;  
  padding: 1rem 2rem;  
  color: white;  
  font-weight: 300;
  text-decoration:none;  
  font-size: 1rem;

}  
